**/.DS_Store/
**/__pycache__/
_temp/
wandb/
pip.txt
pip_test.txt
test.py
requirements.txt

results/*
RLAIF_V.egg-info

# pretrained weights
.ckpt/*
.ckpt_lora/*
**/*.parquet
**/*.bin
**/*.pth
**/*.safetensors
llava-v1.5-7b
RLAIF-V-7B
LLaVA-NeXT-Video-7B
roberta-large-wanli
seva-7b-diffu500
llava_POVID_stage_two_full

# data
**/*V-Dataset
**/*V-Dataset_logps
**/mmhal-bench_with_image.jsonl
**/val2014
**/val2014/*.jpg
**/scienceqa/**/*.png
**.zip
**/mm-vet/images/*
**/textvqa/train_images/*
**/vizwiz/test/*
**/vqav2/test2015/*
data_process/dataset/train/*.mp4
data_process/dataset/frames/*
hierarcaps/assets/test_imgs/*
ocr-qa/ocr_vqa/images/*
COCO/*
examples/*

*.jsonl
SeVa
hierarcaps
POVID